.git
.github
.omx
.tmp
tmp
node_modules
dist
*.log
*.pdf
*.png
*.tsbuildinfo
**/.DS_Store
**/__pycache__
**/*.pyc
**/.venv
**/*venv*
**/*cache*
test_case_multimodal_document_lossless_parse
e2e-output
parsed_dataset
hard_docs
hard_docs_parsed
test-docs
test-docs-output
arxiv_screenshots
more_hard_docs
nytimes_imgs
ac
ltt
